<h2> Admin Dashboard </h2>
<ul>
  <li>
    <a href="/edit_catering">Edit Catering</a><br/>
    <a href="/edit">Edit Menu Items</a><br/>
    <a href="/edit_contact">Edit Contact</a><br/>
    <a href="/edit_locations">Edit Catering</a><br/>
    <a href="/edit_menus">Edit Catering</a><br/>
    <a href="/add_menu_items">Add Menu Item</a><br/>
    <a href="/logout">Logout</a><br/>
  </li>
  
