<h2> Admin Dashboard </h2>
<ul>
  <li>
    <a href="/edit_catering">Edit Catering</a>
    <a href="/edit_contact">Edit Contact</a>
    <a href="/edit_locations">Edit Catering</a>
    <a href="/edit_menus">Edit Catering</a>
    <a href="/add_menu_items">Add Menu Item</a>
    <a href="/logout">Logout</a>
  </li>
