<header id="masthead" class="site-header" role="banner">
	<div id="innerheader">
		<a class="home-link" href="/" title="Slice Works Pizza" rel="home">
			<img src="logo.png">
			</a>
			<div id="navbar" class="navbar">
			<%= erb :_navbar %>
		</div>
			</div>
	</header>

						<div id="slider-overlay">
					<div id="slider">
						<ul>
															<li>
									<span href="link1" title="link1" style="background-image:url('http://sliceworkspizza.com/wp-content/uploads/2013/10/Slice-Header_3.jpg');">
										<div class="blackheadline">2013 Best Pizza.</div>
										<br />
										<a class="redbutton" href="http://sliceworkspizza.com/menu/">Menu ></a>
									</span>
								</li>
															<li>
									<span href="link2" title="link2" style="background-image:url('http://sliceworkspizza.com/wp-content/uploads/2013/10/image1.jpeg');">
										<div class="blackheadline">We cater events.</div>
										<br />
										<a class="redbutton" href="http://sliceworkspizza.com/catering/">Catering ></a>
									</span>
								</li>
													</ul>
						<div style="clear: both"></div>
					</div>
				</div>
				<script language="javascript" type="text/javascript">
				$(function() {
					$("#slider").webwidget_slideshow_dot({
						slideshow_time_interval: '15000',
						slideshow_window_width: window.innerWidth,
						slideshow_window_height: '408',
						slideshow_title_color: '#17CCCC',
						soldeshow_foreColor: '#000',
						directory: 'http://sliceworkspizza.com/wp-content/themes/slice/images/'
					});
				});
				</script>


		<div id="main" class="site-main">

	<div id="primary" class="content-area">
		<div id="content" class="site-content" role="main">


				<a href="tel:1-303-993-8127" id="clicktocall">(303) 993-8127</a>

				<div id="callouts">
					<a id="menucallout" href="http://sliceworkspizza.com/capitol-hill/menu/">
						<span id="menuicon"></span>
						<br />
						Menu
					</a>
					<a id="cateringcallout" href="http://sliceworkspizza.com/capitol-hill/catering/">
						<span id="cateringicon"></span>
						<br />
						Catering
					</a>
					<a id="locationscallout" href="http://sliceworkspizza.com/locations/">
						<span id="locationsicon"></span>
						<br />
						Locations
					</a>
					<div class="clear"></div>
				</div>

				<article id="homepagebox">
					<div id="homepagecontent">
						<h1>Eat. Drink. Relax.</h1>
<p>&#8220;Choosing which pizza by the slice you want from this place is like trying to choose what cereal you want at the grocery store. Its easy though, just look at the wall of pizza and decide which one best suits your current mood! Stuffed pizzas, Big NY style slices, Grandma&#8217;s style, and Stromboli, are just the beginning of what this place has to offer.&#8221;</p>
					</div><!-- .entry-content -->
				</article><!-- #post -->


		</div><!-- #content -->


			</div><!-- #main -->
	</div><!-- #page -->
<scripts>
	<script type='text/javascript'>
/* <![CDATA[ */
var thickboxL10n = {"next":"Next >","prev":"< Prev","image":"Image","of":"of","close":"Close","noiframes":"This feature requires inline frames. You have iframes disabled or your browser does not support them.","loadingAnimation":"http:\/\/sliceworkspizza.com\/wp-includes\/js\/thickbox\/loadingAnimation.gif","closeImage":"http:\/\/sliceworkspizza.com\/wp-includes\/js\/thickbox\/tb-close.png"};
/* ]]> */
</script>
<script type='text/javascript' src='http://sliceworkspizza.com/wp-includes/js/thickbox/thickbox.js?ver=3.1-20121105'></script>
<script type='text/javascript' src='http://sliceworkspizza.com/wp-includes/js/underscore.min.js?ver=1.4.4'></script>
<script type='text/javascript' src='http://sliceworkspizza.com/wp-includes/js/shortcode.min.js?ver=3.7.1'></script>
<script type='text/javascript' src='http://sliceworkspizza.com/wp-admin/js/media-upload.min.js?ver=3.7.1'></script>
<script type='text/javascript' src='http://sliceworkspizza.com/wp-content/plugins/contact-form-7/includes/js/jquery.form.min.js?ver=3.44.0-2013.09.15'></script>
<script type='text/javascript'>
/* <![CDATA[ */
var _wpcf7 = {"loaderUrl":"http:\/\/sliceworkspizza.com\/wp-content\/plugins\/contact-form-7\/images\/ajax-loader.gif","sending":"Sending ..."};
/* ]]> */
</script>
<script type='text/javascript' src='http://sliceworkspizza.com/wp-content/plugins/contact-form-7/includes/js/scripts.js?ver=3.5.3'></script>
<script type='text/javascript' src='http://sliceworkspizza.com/wp-content/themes/slice/js/functions.js?ver=2013-07-18'></script>
</scripts>
</body>
</html>
