	<div id="bigpicture">
<span href="link" title="link" style="background-image:url('images/catering-foto-1400x408.png');">
	<div class="blackheadline">We cater events.</div>
</span>
</div>


	<div id="outercontent">
		<div id="main" class="site-main">

	<div id="primary" class="content-area">
		<div id="content" class="site-content" role="main">


				<article id="post-11" class="post-11 page type-page status-publish hentry">
					<header class="entry-header">
						<h1 class="entry-title">Catering</h1>
					</header>

					<div class="entry-content">
						<h2>SLICEWORKS CATERS</h2>
<p>We now deliver!  Please see the <a title="Catering" href="/catering">CATERING Menu</a> for a selection of food items for your next event or meeting.</p>
<p>Feel free to call or stop by to place your order.</p>
<p style="text-align: left;" align="center"><b><i>Phone: (303) 993-8127   |   </i></b><i>700 E. Colfax Ave Denver, CO 80203</i></p>
					</div>
					<div class="sidepics">
						<img width="300" height="200" src="images/IMG_8718-modified_Small-300x200.jpg" class="attachment-small-picture wp-post-image" alt="Cater Dish" />
						<img src="images/Cater-Pasta-300x200.jpg" />
																<img src="images/cater-meatballs-300x200.jpg" />
																<img src="images/Cater-Chicken-300x200.jpg" />
													</div>
					<div style="clear: both"></div>
				</article>


		</div>
	</div>
