
<body class="page page-id-56 page-child parent-pageid-9 page-template page-template-page-menu-php single-author">

						<div id="bigpicture">
					<span href="link" title="link" style="background-image:url('http://sliceworkspizza.com/wp-content/uploads/2013/10/pizza-foto5-1400x408.png');">
						<div class="blackheadline">Simply the best.</div>
					</span>
				</div>


	<div id="outercontent">
		<div id="main" class="site-main">

	<div id="primary" class="content-area">
		<div id="content" class="site-content" role="main">


				<article id="post-56" class="post-56 page type-page status-publish hentry">
					<header class="entry-header">
						<h1 class="entry-title">Catering</h1>
													<a href="http://sliceworkspizza.com/wp-content/uploads/2013/10/Catering-Menu_folded-11.22.13.pdf" title="Download/Print" id="downloadprint">Download/Print</a>
											</header><!-- .entry-header -->
					<div id="menucontainer">
					<p>Please Note: <br />
½ Tray serves 6-8 people <br />
Full Tray serves 10-12 people <br /></p>							<h1 class="menucategory" >Deli</h1>


							<div class="menuitems">
								<div class="leftcolumn" >
																		<div class="menuitem catering-header">
											<span>Tray</span><span>&frac12; Tray</span>
										</div>


															<div class="menuitem"  style="float:left;">
									<h4 class="itemtitle"><span>ASSORTED STUFFED BREADS (18 inch)-</span>

																			<span>50</span>




									</h4>
																	</div>
															<div class="menuitem"  style="float:left;">
									<h4 class="itemtitle"><span>VEGETABLE PLATTER (18 Inch)-</span>

																			<span>40</span>




									</h4>
																	</div>
															<div class="menuitem"  style="float:left;">
									<h4 class="itemtitle"><span>CHEESE PLATTER (18 inch)-</span>

																			<span style="width:15px;">&nbsp;</span>

																			<span class="halfPrice">40</span>



									</h4>
																	</div>
															<div class="menuitem"  style="float:left;">
									<h4 class="itemtitle"><span>PASTA SALAD-</span>

																			<span>50</span>

																			<span class="halfPrice">30</span>



									</h4>
																	</div>
															</div>
								<div class="rightcolumn">
															</div>
															</div>
														<h1 class="menucategory" >Salads</h1>


							<div class="menuitems">
								<div class="leftcolumn" >
																		<div class="menuitem catering-header">
											<span>Tray</span><span>&frac12; Tray</span>
										</div>


															<div class="menuitem"  style="float:left;">
									<h4 class="itemtitle"><span>CAESAR SALAD-</span>

																			<span>40</span>

																			<span class="halfPrice">25</span>



									</h4>
									<p>crisp romaine tossed with our famous  caesar dressing</p>
								</div>
															<div class="menuitem"  style="float:left;">
									<h4 class="itemtitle"><span>ANTIPASTA SALAD-</span>

																			<span>55</span>

																			<span class="halfPrice">35</span>



									</h4>
									<p><i>genoa salami, provolone cheese, ham, olives,<br />
tomatoes, cucumbers &amp; roasted red peppers</i></p>
								</div>
															<div class="menuitem"  style="float:left;">
									<h4 class="itemtitle"><span>ITALIAN SALAD-</span>

																			<span>40</span>

																			<span class="halfPrice">30</span>



									</h4>
									<p><i>Lettuce, tomato, cucumber, roasted peppers,br />
olives &amp; gorgonzola</i></p>
								</div>
															<div class="menuitem"  style="float:left;">
									<h4 class="itemtitle"><span>HOUSE SALAD-</span>

																			<span>40</span>

																			<span class="halfPrice">25</span>



									</h4>
																	</div>
															</div>
								<div class="rightcolumn">
															</div>
															</div>
														<h1 class="menucategory" >Pasta</h1>


							<div class="menuitems">
								<div class="leftcolumn" >
																		<div class="menuitem catering-header">
											<span>Tray</span><span>&frac12; Tray</span>
										</div>


															<div class="menuitem"  style="float:left;">
									<h4 class="itemtitle"><span>PASTA WITH TOMATO SAUCE-</span>

																			<span>55</span>

																			<span class="halfPrice">30</span>



									</h4>
																	</div>
															<div class="menuitem"  style="float:left;">
									<h4 class="itemtitle"><span>MANICOTTI-</span>

																			<span>60</span>

																			<span class="halfPrice">35</span>



									</h4>
																	</div>
															<div class="menuitem"  style="float:left;">
									<h4 class="itemtitle"><span>PENNE ALLA VODKA-</span>

																			<span>60</span>

																			<span class="halfPrice">35</span>



									</h4>
																	</div>
															<div class="menuitem"  style="float:left;">
									<h4 class="itemtitle"><span>PENNE BOLOGNESE (meat sauce)-</span>

																			<span>55</span>

																			<span class="halfPrice">30</span>



									</h4>
																	</div>
															<div class="menuitem"  style="float:left;">
									<h4 class="itemtitle"><span>LASAGNA-</span>

																			<span>75</span>

																			<span class="halfPrice">40</span>



									</h4>
																	</div>
															<div class="menuitem"  style="float:left;">
									<h4 class="itemtitle"><span>BAKED PENNE-</span>

																			<span>60</span>

																			<span class="halfPrice">35</span>



									</h4>
																	</div>
															</div>
								<div class="rightcolumn">
															</div>
															</div>
														<h1 class="menucategory" >Entrees</h1>


							<div class="menuitems">
								<div class="leftcolumn" >
																		<div class="menuitem catering-header">
											<span>Tray</span><span>&frac12; Tray</span>
										</div>


															<div class="menuitem"  style="float:left;">
									<h4 class="itemtitle"><span>MEATBALLS-</span>

																			<span>55</span>

																			<span class="halfPrice">30</span>



									</h4>
																	</div>
															<div class="menuitem"  style="float:left;">
									<h4 class="itemtitle"><span>SAUSAGE AND PEPPERS-</span>

																			<span>55</span>

																			<span class="halfPrice">30</span>



									</h4>
																	</div>
															<div class="menuitem"  style="float:left;">
									<h4 class="itemtitle"><span>CHICKEN FRANCESE-</span>

																			<span>65</span>

																			<span class="halfPrice">40</span>



									</h4>
																	</div>
															<div class="menuitem"  style="float:left;">
									<h4 class="itemtitle"><span>CHICKEN PARMIGANA-</span>

																			<span>75</span>

																			<span class="halfPrice">40</span>



									</h4>
																	</div>
															<div class="menuitem"  style="float:left;">
									<h4 class="itemtitle"><span>EGGPLANT FLORENTINE-</span>

																			<span>75</span>

																			<span class="halfPrice">40</span>



									</h4>
																	</div>
															<div class="menuitem"  style="float:left;">
									<h4 class="itemtitle"><span>EGGPLANT PARMIGIANA-</span>

																			<span>60</span>

																			<span class="halfPrice">35</span>



									</h4>
																	</div>
															</div>
								<div class="rightcolumn">
															</div>
															</div>
												</div>
					<div style="clear: both"></div>
				</article><!-- #post -->


		</div><!-- #content -->
	</div><!-- #primary -->


			</div><!-- #main -->
