<div id="navbar" class="navbar">
<%= erb :_navbar %>
</div>

<div id="outercontent">
	<div id="main" class="site-main">
		<div id="primary" class="content-area">
		<div id="content" class="site-content" role="main">
			<article id="post-15" class="post-15 page type-page status-publish hentry">
				<header class="entry-header">
					<h1 class="entry-title">Contact Us</h1>
				</header><!-- .entry-header -->
				<div class="entry-content">
					<p>Phone: (303) 993-8127 Capital Hill  |  (303) 297-3464 Lodo</p>
					<div class="wpcf7" id="wpcf7-f4-p15-o1">
						<form action="/contact-us/#wpcf7-f4-p15-o1" method="post" class="wpcf7-form" novalidate="novalidate">
							<div style="display: none;">
								<input type="hidden" name="_wpcf7" value="4" />
								<input type="hidden" name="_wpcf7_version" value="3.5.3" />
								<input type="hidden" name="_wpcf7_locale" value="en_US" />
								<input type="hidden" name="_wpcf7_unit_tag" value="wpcf7-f4-p15-o1" />
								<input type="hidden" name="_wpnonce" value="4a1313dfe4" />
							</div>
						<p>Your Name (required)<br />
						    <span class="wpcf7-form-control-wrap your-name"><input type="text" name="your-name" value="" size="40" class="wpcf7-form-control wpcf7-text wpcf7-validates-as-required" aria-required="true" /></span> </p>
						<p>Your Email (required)<br />
						    <span class="wpcf7-form-control-wrap your-email"><input type="email" name="your-email" value="" size="40" class="wpcf7-form-control wpcf7-text wpcf7-email wpcf7-validates-as-required wpcf7-validates-as-email" aria-required="true" /></span> </p>
						<p class="antispam">Leave this empty: <input type="text" name="url" /></p>
						<p>Subject<br />
						    <span class="wpcf7-form-control-wrap your-subject"><input type="text" name="your-subject" value="" size="40" class="wpcf7-form-control wpcf7-text" /></span> </p>
						<p>Your Message<br />
						    <span class="wpcf7-form-control-wrap your-message"><textarea name="your-message" cols="40" rows="10" class="wpcf7-form-control wpcf7-textarea"></textarea></span> </p>
						<p>
							<input type="submit" value="Send" class="wpcf7-form-control wpcf7-submit" /></p>
						<div class="wpcf7-response-output wpcf7-display-none"></div></form></div>
				</div>
			<div class="sidepics"></div>
			<div style="clear: both"></div>
			</article>
		</div>
		</div>
	</div>
</div>
