<div id="outercontent">
  <div id="main" class="site-main">
    <div id="primary" class="content-area">
    <div id="content" class="site-content" role="main">
      <article id="post-15" class="post-15 page type-page status-publish hentry">
        <header class="entry-header">
          <h1 class="entry-title">Contact Us</h1>
        </header><!-- .entry-header -->
        <div id="edit_form">
          <form id="edit_contacts" action="/phone_number" method="post">
            Capitol Hill Location Telephone:
              <input type="tel" name="capitol_hill_number" value=<%= @capitol_hill[:number] %> >
            LODO Location Telephone:
              <input type="tel" name="lodo_number" value=<%= @lodo[:number] %>>
            <button name="submit">Submit</button>

          </form>

        </div>
