<h2>Editing Gourmet Pizza Items</h2>
<li>
  <h3> <%= menu_item[:name] %>
  <p> <%= menu_item[:description] %>
  <p> <%= menu_item[:price] %>
  <p> Admin Options:
</li>
  <p>
    <% if menu_item.id %>
      Edit Item:
    <% else %>
      Menu Items:
    <% end %>
  </p>
  <p>
  <%= erb :_form %>
</p>
