<div id="navbar" class="navbar">
	<%= erb :_navbar %>
</div>


<body class="page page-id-33 page-template-default single-author">

<div id="main" class="site-main">
	<div id="primary" class="content-area">
		<div id="content" class="site-content" role="main">
				<article id="post-33" class="post-33 page type-page status-publish hentry">
					<header class="entry-header">
						<h1 class="entry-title">Gift Cards</h1>
					</header><!-- .entry-header -->

					<div class="entry-content">
											</div><!-- .entry-content -->
					<div class="sidepics">
																	</div>
					<div style="clear: both"></div>
				</article><!-- #post -->
		</div><!-- #content -->
	</div><!-- #primary -->
</div><!-- #main -->
