
<div id="outercontent">
  <div id="main" class="site-main">
    <div id="primary" class="content-area">
      <div id="content" class="site-content" role="main">
        <article id="post-15" class="post-15 page type-page status-publish hentry">
          <header class="entry-header">
            <h1 class="entry-title">You are now logged out, Admin</h1>
          </header>
          <div class="entry-content">
            <p> If this was a mistake, please visit <a href="/log_in">The Admin page</a> to continue editing. </p>
          </div>
      </div>
    </div>
  </div>
</div>
