<body class="home page page-id-142 page-template page-template-page-splash-php single-author">

	<div id="primary" class="content-area">
		<div id="content" class="site-content" role="main">


				<div id="chooselocations">
					<a id="capitolhill" href="/capitol_hill">
             Capitol Hill<br />
						<span style="font-family: Rokkitt; font-size: 30px; display: inline-block; line-height: 23px; margin: 8px 0px 0px;">
						(303) 993-8127<br />
						700 E Colfax Ave<br />
						Denver, CO 80203</span>
					</a>
					<span id="choosebox">
						Choose Your Location For Menu Options
					</span>
					<a id="lodo" href="/lodo">
						LoDo<br />
						<span style="font-family: Rokkitt; font-size: 30px; display: inline-block; line-height: 23px; margin: 8px 0px 0px;">
						(303) 297-3464<br />
						1433 17th Street Ste. 100<br />
						Denver, CO 80202</span>
					</a>
					<div class="clear"></div>
				</div>

				<article id="homepagebox">
					<div id="homepagecontent">
						<h1>Eat. Drink. Relax.</h1>
<p>&#8220;A big thank you to Sliceworks for donating pizza to the kids.  Sliceworks is an amazing local business which has been very supportive of the Greater Capital Hill Community since it open 2 years ago next to Argonaut.&#8221;</p>
<p>&nbsp;</p>
					</div><!-- .entry-content -->
				</article><!-- #post -->
		</div><!-- #content -->
</html>
