<h2> LogIn</h2>
  <form action = '/log_in', method ='POST'>
    <p>
    <input type = 'text' name='user', required='required', placeholder='Username'/><br/>
    <input type = 'password' name='password', required='required', placeholder='Password'/><br/>
    <input type='submit', value='Log In'/>
  </form>
