<body class="page page-id-9 page-parent page-child parent-pageid-2 page-template page-template-page-menu-main-php single-author">

<div id="navbar" class="navbar">
	<%= erb :_navbar %>
</div>
						<div id="bigpicture">
					<span href="link" title="link" style="background-image:url('http://sliceworkspizza.com/wp-content/uploads/2013/10/IMG_1994-modified-1920x408.jpg');">
						<div class="blackheadline">WHAT’LL IT BE?</div>
					</span>
				</div>

	<div id="primary" class="content-area">
		<div id="content" class="site-content" role="main">


				<div id="redcontent">
					<p><strong>SliceWorks</strong> offers different menus based on preference and the experience you&#8217;re looking for.  Dine in and check out the local atmosphere or take Sliceworks home to enjoy.  Whatever your pleaser just choose from one of our different menu options.</p>
				</div>

				<div id="menutypes">
					<a id="dinein" href="/menu/dine_in">
						<span id="menuicon"></span>
						<br />
						Dine In /
						Take Out
					</a>
					<a id="catering" href="/menu/catering/">
						<span id="cateringicon"></span>
						<br />
						Catering
					</a>
					<a id="happyhour" href="/menu/happy-hour/">
						<span id="happyhouricon"></span>
						<br />
						Happy Hour
					</a>
					<div class="clear"></div>
				</div>


		</div><!-- #content -->
	</div><!-- #primary -->
